$headerBackground: url(../img/header_background_v1.jpg)no-repeat center top/cover;
$pageFonts: normal 300 Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$headerLinkColor: #ff5468;
$borderColor: #cfd8dc;
$fontBig: 24px;
$fontSmall: 15px;
$mainColor: #efefef;
$battonBackGround: #0401ac;
$articleBackGround:#ffffff;
$inMainColorTextHeader: #bdc3d4;
$inMainColorHeaderBottom: #607d8b;
$h3color:#607d8b;
$buttonMainBg: #0401ac;
$label:#607d8b;
$h1: #607d8b;
$p: #757575;