$headerBackground: url(../img/header_background_v1.jpg)no-repeat center top/cover;
$pageFonts: normal 300 Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$headerLinkColor: #ECECEC;
$borderColor: #607d8b;
$fontBig: 24px;
$fontSmall: 15px;
$mainColor: #ffffff;
$battonBackGround: #01acac;
$articleBackGround:#efefef;
$inMainColorTextHeader: #e90303;
$inMainColorHeaderBottom: #607d8b;
$h3color:#0097a7;
$buttonMainBg: #01acac;
$label:#52c3e8;
$h1: #000000;
$p: #000000;